In [34]:
from decimal import Decimal 

import pyarrow
import pymapd
import pandas as pd

In [4]:
def cursor2df(cursor):
    col_names = [c.name for c in cursor.description]
    return pd.DataFrame(cursor.fetchall(), columns=col_names)

In [5]:
con = pymapd.connect(host='localhost', user='admin', password='HyperInteractive')

In [28]:
table_name = 'mytable_decimal_array'

con.execute(f'''
DROP TABLE IF EXISTS {table_name};
''')

con.execute(f'''
CREATE TABLE {table_name} (
    col_a INT,
    col_b DECIMAL(10, 6)
);
''')

In [29]:
con.execute(f'''
INSERT INTO {table_name} VALUES (
    1, '1.123401'
);
''')

In [30]:
cur = con.execute(f'''SELECT * FROM {table_name};''')
for row in cur:
    print(row)

(1, 1.123401)

In [35]:
con.execute(f'''
DROP TABLE IF EXISTS {table_name};
''')

df = pd.DataFrame({
    'col_a': [[1, 1], [2, 2], [3, 3]],
    'col_b': [
        Decimal('1.1234'),
        Decimal('2.2345'),
        Decimal('3.3456'),
    ],
})

In [41]:
df.col_b.astype(float)

0    1.1234
1    2.2345
2    3.3456
Name: col_b, dtype: float64

In [42]:
scale = 10
precision = 4

In [49]:
(df.col_b * 10 ** precision).astype(int) * 10 ** (scale - precision)

0    11234000000
1    22345000000
2    33456000000
Name: col_b, dtype: int64

In [52]:
data = df.col_b
data = (data * 10 ** precision).astype(int) \
    * 10 ** (scale - precision)
data

0    11234000000
1    22345000000
2    33456000000
Name: col_b, dtype: int64